
*.pyc
backup/
ZnamE.zip
ZnamE_all.zip
pack.py
unpack.py
edupage.md
edupage.pptx
edupage.png
~$edupage.pptx
PATH
completer.log
.history/
.vs/
.pytest_cache/
.mypy_cache/
ffmpeg/
py_filter.bat
Doxyfile
download/