
*.pyc
backup/
ZnamE.zip
ZnamE_all.zip
pack.py
unpack.py
edupage.md
edupage.pptx
edupage.png
~$edupage.pptx
completer.log
.history/
.vs/
.pytest_cache/
.mypy_cache/
Doxyfile
download/
.vscode/
signatures.py
edupage_old.py
patch_edupage.py
Website/
patch.md
.env
VOICEVOX/
edupage_old.md
edupage_old.pptx
cbzPrintable/
KayoPy/
manga-image-translator/
PROFILING.prof
